body {
  background-color: rgb(255, 253, 208);
  font-family: Roboto, Arial;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

a,
.button {
  transition: all 300ms ease;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
