.header {
  height: 90px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 253, 208);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.left-section {
  display: flex;
  font-size: 35px;
  margin-left: 300px;
  align-items: center;
  white-space: nowrap;
  color: black;
}

.right-section {
  display: flex;
  margin-right: 300px;
  align-items: center;
  white-space: nowrap;
  color: white;
}

.button-about,
.button-experience,
.button-projects,
.button-contact,
.home-button {
  font-size: 28px;
  height: 50px;
  align-items: center;
  border: none;
  background-color: rgb(255, 253, 208);
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.button-about:hover,
.button-experience:hover,
.button-projects:hover,
.button-contact:hover,
.home-button:hover {
  text-decoration: underline;
}
