.left-section {
  display: flex;
  font-size: 35px;
  margin-left: 300px;
  margin-right: 500px;
  align-items: center;
  white-space: nowrap;
  color: black;
}

.right-section {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
