.hero-section {
  padding-top: 300px;
  display: flex;
  justify-content: center;
}

.hero-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-section-photo {
  border-radius: 150px;
  margin-right: 75px;
  width: 300px;
}

.hero-section-text {
  text-align: center;
  font-size: 26px;
  white-space: nowrap;
}

.hello {
  color: rgb(184, 184, 184);
}

.name {
  font-weight: 700;
}

.profession {
  color: rgb(88, 88, 88);
  font-weight: 700;
}

.page {
  color: rgb(184, 184, 184);
}

.download-cv-button,
.linkedin-button {
  font-size: 28px;
  align-items: center;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.download-cv-button {
  color: white;
  background-color: black;
  border: solid;
}

.linkedin-button {
  color: white;
  background-color: rgb(10, 102, 194);
  border: solid;
}

.download-cv-button:hover {
  color: black;
  background-color: white;
}

.linkedin-button:hover {
  color: rgb(10, 102, 194);
  background-color: white;
}
